# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/data/*
/dependency-reduced-pom.xml
/prositometry.iml
/isopret.iml
/*.html
/.idea/
/isopret-core/isopret-core.iml
/isopret-cli/isopret-cli.iml
/isopret-gui/isopret-gui.iml
/isopret-out.txt
/isopret-cli/target/
/isopret-core/target/
/isopret-gui/target/
/isopret-go-overrep.txt
!/isopret-interpro-overrep.txt
/isopret-interpro-overrep.txt
/isopret-gui_1.0.0-1_amd64.deb
/isopret-gui-1.0.0-M1.dmg
.vscode/
isopret-io/target/
venv/