site_name: pyphetools

theme:
  name: "material"
  features:
    #- navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - content.code.select
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: indigo
      accent: white
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: teal
      accent: lime


#nav:
#  - Home: 'index.md'


plugins:
  - social
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: sphinx


extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/pnrobinson
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/pnrobins
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/peter-n-robinson-b7833811/


markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - md_in_html
  - tables
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

copyright: |
  &copy; 2023 <a href="https://github.com/pnrobinson"  target="_blank" rel="noopener">Peter N Robinson</a>

